body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
    
  }
  #home-section{
    background-image: url('/images/main-bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
  }
 
  
  header {
    background-color:black;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;

  }
  
  .logo img {
    max-width: 150px; 
  }
  

  
  nav ul li {
    margin: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    position: relative;
    transition: text-shadow 0.5s;
  }
  nav ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background-color: yellowgreen;
  }
  nav ul li a:hover{
    color:rgb(175, 208, 109);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  }
  nav ul li a:hover::after{
    width: 50%;
  }


  .circle-container {
    background-color: black;
    margin-top: 10%;
  }
  .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .outercircle {
    /* margin-top: 5%; */
    position: relative;
    height: 180px;
    width: 180px;
    background: conic-gradient(#fffdfd 300deg, black 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .outercircle::before {
    content: "";
    position: absolute;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
  }
  .innercircle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;

    /* transform: translate(-50%, -50%); */
  }
  .circle-container p {
    padding: 15px 15px;
    color: white;
  }
  .circle-container h3 {
    font-size: 35px;
    color: white;
    line-height: 0.7;
    padding-left: 10px;
    font-weight: 100;
  }

  #services-section{
    background-color: whitesmoke;
    color:black;
    margin-top: 5%;
    padding: 50px;
  }
  .services-container{
    text-align: center;
  }
  .services-header{
    margin-bottom: 50px;
  }
  .services-header h3{
    font-size: 40px;
    font-weight: 100;
    color:yellowgreen;
  }
  .services-body .body-box h4{
    font-size: 30px;
    font-weight: 100;
    color:yellowgreen;
  }
  .services-body .body-box p span{
    color: rgba(90, 150, 11, 0.744);
    font-style: italic;
    font-weight: 100;
  }

  #about-section{
    margin-top: 5%;
    background-color: whitesmoke;
    color:black;
  }
  .lastsection{
    display: flex;
    flex-direction: column;
  }
  .lastupper{
   display:flex;
    justify-content: space-between;
  }
  .lastupper .lefty 
  {flex: 2;margin-left: 30px;}
  .lastupper h3, .lastupper li,.lastupper p
  { font-size: 12px;font-weight: 300;}
  .lastupper .mainy 
  { flex: 6;margin-left: 30px;}
  .lastupper .righty {flex: 3;margin-left: 30px;}
  
  .lastupper > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top:5%;
  }
  @media only screen and (max-width:600px)
  {
    .lastupper{
      display:flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .lastupper .lefty{
       display: flex;
       flex-wrap:wrap;
    }

      .lastsection .foot{
        flex-direction: column;
      }
      .lastupper .right-container img{
        width:40px;
        height: 40px;
        margin:5px;
      }
      .lastsection .foot-box-container{
      margin-left:-45%;
  
      }
  }
  .lastupper .lefty h3 , .lastupper  .newsletter  h3, .lastupper .righty h3 {
    color:yellowgreen;
    font-size: 20px;
    font-weight: 100;
  }
  .lastupper .lefty li{
    list-style-type: none;
    line-height: 2;
   
  }
  .newsletter {
    display: flex;
    flex-direction: column;
  }

  .lastupper .right-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:auto;
  }
  .lastupper .right-container img{
    width:50px;
    height: 50px;
    margin-left:0;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:10px;
  }
  
  .lastsection .foot{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 3%;
    margin-left:  7%;
  }
  .foot .foot-box-container{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap:20px;
   
  }
  .foot .foot-box-container .boxes{
    display: flex;
    background-color:yellowgreen;
   width:30px;
    height:30px;
   align-items: center;
   justify-content: center;
   color:black;
  }

  footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    text-align: center;
  }
  
  footer ul {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  footer ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  footer p {
    margin-top: 10px;
  }
  .owl-carousel .owl-dots {
    text-align: center;
  }
  
  .owl-carousel .owl-dots .owl-dot.active {
    background: #b3b3b3;
  }
  
  .owl-carousel.home-slider .slider-item .slider-text .one-third {
    width: 60%;
    position: relative;
    z-index: -1;
  }
  @media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-third {
      width: 85%;
    }
  }
  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-third {
      width: 100%;
      z-index: 0;
    }
    .owl-carousel.home-slider .slider-item .slider-text .one-third .overlay {
      opacity: 0.3;
    }
    .owl-carousel.home-slider .slider-item .slider-text .one-third:after {
      opacity: 0;
    }
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-forth {
    width: 50%;
    position: relative;
  }
  @media (min-width: 768px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      padding: 1em;
    }
  }
  .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
    width: 100%;
  }
  @media (min-width: 992px) {
    .owl-carousel.home-slider .slider-item .slider-text .one-forth .text {
      position: absolute;
      
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      max-width: 50%;
      padding-left: 45px;
      padding-right: 3em;
    }
  }
  
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1.2;
    font-weight: 800;
  }
  .owl-carousel.home-slider .slider-item .slider-text h1 span {
    font-weight: 800;
    color: yellowgreen;
  }
  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
      color: #fff;
      font-size: 50px;
    }
  }
  @media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
      font-size: 40px;
    }
  }
  .owl-carousel.home-slider .slider-item .slider-text h2 {
    font-size: 25px;
    font-weight: 400;
  }
  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h2 {
      color: #fff;
    }
  }
  @media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 23px;
    }
  }
  .owl-carousel.home-slider .slider-item .slider-text .btn-custom {
    border: 1px solid black;
    padding: 5px 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
  }
  
  .owl-carousel.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
  }
  @media (max-width: 767.98px) {
    .owl-carousel.home-slider .owl-dots {
      bottom: 5px;
    }
  }
  .owl-carousel.home-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
  }
  .owl-carousel.home-slider .owl-dots .owl-dot.active {
    background: #fff;
  }
  
  
  .slider-text h1 {
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
  }
  @media (max-width: 991.98px) {
    .slider-text h1 {
      font-size: 40px;
    }
  }
  
  .slider-text p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .slider-text p strong {
    font-weight: 700;
  }
  .slider-text p strong a {
    color: #000000;
  }
  
  .slider-item .img {
    background-repeat: no-repeat;
    background-size:auto;
    background-position:center;
  }
  
  .btn.btn-primary {
    background:yellowgreen;
    border: 1px solid #9d7d72 !important;
    color: #000000 !important;
  }
  .btn.btn-primary:hover {
    border: 1px solid black!important;
    background: rgb(180, 229, 81)!important;
    color: #000000 !important;
  }

.slider-item .container::before{
  content: 'FITNESS';
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%);
  font-size: 20rem;
  line-height: 7rem;
  color:rgb(200, 191, 191);
  opacity: .2;
  z-index: -1;

}