<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div class="container">
    <div class="left">
        <img src="/images/logogym.png" alt="Logo">
        <h2>Forgot Password</h2>
        <p>Enter your email address below and set a new password to reset your password.</p>
        <form id="forgotPasswordForm" action="/forgotpassword" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button id="reset-btn" type="submit">Reset Password</button>
        </form>
        <p><a href="/signin.html">Back to Sign In</a></p>
    </div>
    <div class="right">
        <img src="/images/signin.png">
        <h2>Forgot Your Password?</h2>
        <p>No worries. We'll help you reset it!</p>
    </div>
</div>

<script src="/js/scripts.js"></script>

</body>
</html>
